<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
  {% block head %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
  {% include 'partials/metadata.html.twig' %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="{{ url('theme://img/favicon.png') }}" />
  {% endblock %}

  {% block stylesheets %}
    {% do assets.addCss('theme://bootstrap-3.3.7/css/bootstrap.min.css',100) %}
    {% do assets.addCss('theme://css/font-awesome.min.css',100) %}

    {% do assets.addCss('theme://css/agency.css',100) %}
    {% do assets.addCss('theme://css/custom.css',100) %}

    {% do assets.addCss('theme://css/css_Montserrat.css',100) %}
    {% do assets.addCss('theme://css/css_KaushanAndScript.css',100) %}
    {% do assets.addCss('theme://css/css_Lato.css',100) %}
    {% do assets.addCss('theme://css/css_DroidSerif.css',100) %}
    {% do assets.addCss('theme://css/css_RobotoSlab.css',100) %}
  {% endblock %}

  {% block javascripts %}
    {% do assets.addJs('jquery',{'priority':101,'group':'head'}) %}
    {% do assets.addJs('theme://bootstrap-3.3.7/js/bootstrap.min.js',{'priority':100,'group':'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.easing.min.js',{'group':'bottom'}) %}
    {% do assets.addJs('theme://js/classie.js',{'group':'bottom'}) %}
    {% do assets.addJs('theme://js/cbpAnimatedHeader.js',{'group':'bottom'}) %}
    {% do assets.addJs('theme://js/agency.js',{'group':'bottom'}) %}
  {% endblock %}

  {% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
  {% endblock %}
</head>
<body id="page-top" class="index">

  {% block header_navigation %}
    {% include 'partials/navigation.html.twig' %}
  {% endblock %}
  {% block body %}
    {% block content %}{% endblock %}
  {% endblock %}

  {% block footer %}
    {% include 'partials/footer.html.twig' %}
  {% endblock %}

  {% block javascripts_bottom %}
  {{ assets.js('bottom')|raw }}  
  {% endblock %}
</body>
</html>
